@import url(https://fonts.googleapis.com/css?family=Alfa+Slab+One|Oxanium&display=swap);

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ReactCountryFlag {
  background-color: #282c34;
  border: none;
  color: black;
  padding: 16px 32px;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.3s;
}

.ReactCountryFlag:hover {
  opacity: 1;
}

h1 {
  font-family: "Oxanium", cursive;
}

.HomeIcon {
  padding-right: 10px;
  padding-left: 10px;
}

.HomeIcon:hover {
  background-color: #aab7b8;
}

.MapIcon {
  padding-right: 10px;
  padding-left: 10px;
}

.MapIcon:hover {
  background-color: #aab7b8;
}

.GitHub {
  padding-right: 10px;
  padding-left: 10px;
}

.GitHub:hover {
  background-color: #aab7b8;
}
